<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
               [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
               [mode]="(isHandset$ | async) ? 'over' : 'side'"
               [opened]="(isHandset$ | async) === false">


    <mat-nav-list>
      <a mat-list-item  routerLink="/home">Home</a>
      <a mat-list-item routerLink="/account">Account</a>
      <a mat-list-item routerLink="/fix-deposit-account">Fix Deposit</a>
      <a mat-list-item routerLink="/savings-account">Savings Account</a>
      <a mat-list-item routerLink="/loan-account">Loans</a>
      <a mat-list-item routerLink="/transaction">Transaction</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>Transaction <button id="btnLogOut" routerLink="/">Log out</button></span>

      <div class="container">
        <h2>Transaction Operations</h2>
        <form (ngSubmit)="onFormSubmit($event)">
          <label for="accountNumber">Account Number:</label>
          <input type="text" id="accountNumber" name="accountNumber" [(ngModel)]="accountNumber" required>
          <br>

          <label for="transactionType">Transaction Type:</label>
          <select id="transactionType" name="transactionType" [(ngModel)]="transactionType" required>
            <option value="DEPOSIT">Deposit</option>
            <option value="WITHDRAWAL">Withdraw</option>
          </select>
          <br>
          <label for="amount">Amount:</label>
          <input type="number" id="amount" name="amount" [(ngModel)]="amount" required>
          <br>
          <button type="submit">Submit</button>
        </form>
      </div>

    </mat-toolbar>
  </mat-sidenav-content>
</mat-sidenav-container>
